init.author.name=jerret
init.author.email=321jiangtao@gmail.com
init.author.url=https://github.com/jiangtao

//registry.npmjs.org/:_password="unknown_password"
//registry.npmjs.org/:always-auth=false
//registry.npmjs.org/:email="321jiangtao@gmail.com"
//registry.npmjs.org/:username=jerret321

init.version=0.0.1
package-lock=false
