init.author.name=jerret
init.author.email=321jiangtao@gmail.com
init.author.url=https://github.com/jiangtao
init.version=0.0.1
package-lock=false
//registry.npmjs.org/:_authToken=06991a2c-aabc-4c11-8d94-f1ceb8031ee3
