init.author.name=jerret
init.author.email=321jiangtao@gmail.com
init.author.url=https://github.com/jiangtao
init.version=0.0.1
package-lock=false
//registry.npmjs.org/:_authToken=31dea45d-c6a8-422a-8400-9005152f64c0
